<div class="container my-5">
    <h1 class="mb-3">Add New Employee</h1>

    <div class="row">
        <div clss="col-6">
            <form #form="ngForm" [formGroup]="addEmployeeForm" class="form" >
                <div class="form-outline w-25 mb-3" >
                  <label for="name" class="form-label">Name</label>
                  <input type="text" 
                  class="form-control"
                   id="name"
                   name="name"
                   formControlName="name"
                   [(ngModel)]="addEmployeeRequest.name">
                </div>
                <small *ngIf="addEmployeeForm.controls['name'].dirty && addEmployeeForm.hasError('required','name') " class="text-danger">*Name is Required</small>
                <div class="form-outline w-25 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" 
                    class="form-control"
                     id="email"
                     name="email"
                     formControlName="email"
                     [(ngModel)]="addEmployeeRequest.email">
                </div>
                <small *ngIf="addEmployeeForm.controls['email'].dirty && addEmployeeForm.hasError('required','email') " class="text-danger">*Email is Required</small>
                <div class="form-outline w-25 mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number"
                     class="form-control" 
                     id="phone"
                     name="phone"
                     formControlName="phone"
                     [(ngModel)]="addEmployeeRequest.phone">
                  </div>
                  <small *ngIf="addEmployeeForm.controls['phone'].dirty && addEmployeeForm.hasError('required','phone') " class="text-danger">*Phone Number is Required</small>
                  <div class="form-outline w-25 mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" 
                    class="form-control"
                     id="salary"
                     name="salary"
                     formControlName="salary"
                     [(ngModel)]="addEmployeeRequest.salary">
                  </div>
                  <small *ngIf="addEmployeeForm.controls['salary'].dirty && addEmployeeForm.hasError('required','salary')" class="text-danger">*Salary is Required</small>
                  <div class="form-outline w-25 form-group mb-3">
                    <label for="department" class="form-label">Department</label>
                    <select id="department" class="form-control" name="department" formControlName="department"
                    [(ngModel)]="addEmployeeRequest.department">
                      <option selected>Choose...</option>
                      <option>Product Manager</option>
                      <option>Senior Software Engineer</option>
                      <option>Intern Software Engineer</option>
                      <option>Server Enginner</option>
                      <option>Data Engineer</option>
                    </select>
                  </div>
                  <small *ngIf="addEmployeeForm.controls['department'].dirty && addEmployeeForm.hasError('required','department') " class="text-danger">*Department is Required</small>
                  <div>
                    <button type="submit" class="btn btn-success" (click)="addEmployee()">Save Employee</button>
                  </div>
            </form>
        </div>
    </div>  
</div>