<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container my-5">
    <h1 class="mb-3" >Employees</h1>

<table class="table" *ngIf="employees && employees.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td><a [routerLink]="['/home','edit',employee.id]">{{ employee.id }} </a></td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.department}}</td>
            <td>
                <!-- <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>  -->
                <button class="btn" (click)="deleteEmployee(employee.id)"><i class="fa fa-trash"></i></button>
            </td>
           <!--  <td><a [routerLink]="['/home','edit',employee.id]">View</a></td> -->
            
        </tr>
    </tbody>
</table>
<p *ngIf="!employees || employees.length <=0">No Employees Found</p>
</div>
