<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">SignUp</div>
                    </div>     
                    <div style="padding-top:30px" class="panel-body" >
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>        
                        <form class="form-horizontal" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">            
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" formControlName="firstname" class="form-control" placeholder="Enter First Name"> 
                            </div>
                            <small *ngIf="signUpForm.controls['firstname'].dirty && signUpForm.hasError('required','firstname') " class="text-danger">*FirstName is Required</small>              
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" formControlName="lastname" class="form-control" placeholder="Enter Last Name">            
                            </div>
                            <small *ngIf="signUpForm.controls['lastname'].dirty && signUpForm.hasError('required','lastname') " class="text-danger">*LastName is Required</small>   
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" formControlName="email" class="form-control" placeholder="Enter Email">            
                            </div>
                            <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email') " class="text-danger">*Email is Required</small> 
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" formControlName="username" class="form-control" placeholder="Enter Username">            
                            </div>
                            <small *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username') " class="text-danger">*Email is Required</small>   
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">      
                            </div>
                            <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password') " class="text-danger">*Password is Required</small>         
                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                  <button [disabled]="!signUpForm.valid" type="submit" class="btn btn-success">Signup</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                       Already Have An Account?
                                        <a routerLink="/login">Login Here</a>
                                    </div>
                                </div>
                            </div> 

                        </form>     
                    </div>                     
            </div>  
        </div>
    </div>
        
                    
                 
    
